.banner {
  .title {
    width: 100px;
    height: 500px;
    background-color: black;
    writing-mode: vertical-rl;
    font-family: "Squada One";
  }
  .banner-img {
    @include media-breakpoint-up(md) {
      width: 765px;
      height: 500px;
    }
  }
  .bannerCardImg {
    width: 100%;
    height: 372px;
    @include media-breakpoint-up(md) {
      width: 329px;
      height: 340px;
    }
  }
}
.banner {
  .bannerCardBody {
    padding: 48px 24px 24px 24px;
  }
}

// 照片
.ranking {
  .ranking-img {
    width: 87px;
    height: auto;
    @include media-breakpoint-up(md) {
      height: 374px;
    }
  }
}

//號碼
.ranking {
  .number {
    width: 38px;

    background-color: white;
  }
}
