.banner {
  .title {
    width: 100px;
    height: 500px;
    background-color: black;
    writing-mode: vertical-rl;
    font-family: "Squada One";
  }
  .banner-img {
    @include media-breakpoint-up(md) {
      width: 765px;
      height: 500px;
    }
  }
  .bannerCardImg {
    width: 100%;
    height: 372px;
    @include media-breakpoint-up(md) {
      width: 329px;
      height: 340px;
    }
  }
}
.banner {
  .bannerCardBody {
    padding: 48px 24px 24px 24px;
  }
}

// 大小張照片
.ranking {
  .ranking-bigCard-img {
    height: 374px;
  }
  .ranking-smallCard-img {
    width: 87px;
    height: 90px;
  }
}

// 為元素號碼
.ranking {
  .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    padding: 8px;
    background-color: white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
}
