.banner {
  .title {
    width: 100px;
    height: 500px;
    background-color: black;
    writing-mode: vertical-rl;
    font-family: "Squada One";
  }
  .banner-img {
    @include media-breakpoint-up(md) {
      width: 765px;
      height: 500px;
    }
  }
  .bannerCardImg {
    width: 100%;
    height: 372px;
    @include media-breakpoint-up(md) {
      width: 329px;
      height: 340px;
    }
  }
}
.banner {
  .bannerCardBody {
    padding: 48px 24px 24px 24px;
  }
}

.ranking {
  .card {
    height: 91px;
  }
}
// 照片
.ranking {
  .ranking-img {
    width: 87px;
    height: 90px;
    @include media-breakpoint-up(md) {
      height: 374px;
      width: 414px;
    }
  }
}

//號碼＆hover按鈕位置
.ranking {
  .number {
    width: 38px;
    background-color: white;
    @include media-breakpoint-up(lg) {
      width: 64px;
      height: 64px;
      top: 0;
      left: 0;
    }
  }
  .moreBtn {
    bottom: -286px;
    right: 0px;
    display: none;
    &:hover {
      display: block;
    }
  }
}
